.skin-blue {
  .skin-border-color {
    border-color: @light-blue;
  }
  .skin-button {
    background: @light-blue;
    &.lighten {
      background: lighten(@light-blue, 30%);
    }
    &.bordered {
      .skin-border-color();
    }
    &.focus {
      border:0;
    }
  }
  .skin-color {
    color: @light-blue;
  }
  .skin-tooltip-top + .tooltip.top .tooltip-inner {
    background-color:@light-blue;
    font-weight: bold;
  }
  .skin-tooltip-top + .tooltip.top .tooltip-arrow {
    border-top-color: @light-blue;
  }
}
