.skin-blue {
  .g3w-form-component_header {
    .title {
      color: darken(@light-blue, 20%);
    }
  }

  .g3w-form-component_body form .box-primary {
    border-top-color: @light-blue
  }

  .g3w-form-component_relations {
    .tooltip.bottom .tooltip-inner {
      background-color:@light-blue;
    }
    .tooltip.bottom .tooltip-arrow {
      border-bottom-color: @light-blue;
    }
    .relation-editbtn {
      border: 2px solid @light-blue;
      color: @light-blue;
    }
  }

  .g3w-form, .g3w-form-component_footer{
    .g3w-relationname {
      color: @light-blue;
    }
    .btn-add {
      color:@light-blue;
    }
    .link {
      color: @light-blue;
    }
  }

}
