@base_padding: 10px;
.g3w-viewport {
  background: #eeeeee;
  overflow:hidden;
  line-height: 0;
  .g3w-view {
    &.map {
      line-height: normal;
      display:inline-block;
      height:0;
      width:0;
      position: relative;
      //-webkit-transition: all 0.1s;
      //transition: all 0.1s;
    }
    &.content {
      line-height: normal;
      float:right;
      overflow-wrap: break-word;
      height:0;
      width:0;
      background-color: @gray-lighter;
      overflow:hidden;
      position: relative;
      .contents {
        height: 100%;
      }
      &.split-h {
        border-left: 1px solid darken(@gray-lighter, 10%);
      }
      &.split-v {
        border-top: 1px solid darken(@gray-lighter, 10%);
      }
      .g3w_contents_back {
        display: inline-block;
        >span {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .close-panel-block {
      overflow: hidden;
      line-height: 14px;
      margin-top: 4px;
      font-size:1.5em;
      .panel-title {
        margin-top: 5px;
      }
      span {
        i.panel-button {
          color: transparent;
        }
        &.g3w-span-button {
          height: 1.5em;
          line-height: 1.5em;
          width: 1.5em;
          font-size: 1em !important;
          margin: 3px;
          cursor: pointer;
          box-shadow:  0 2px 4px rgba(0,0,0,0.2);
          -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          -o-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          border-radius: 50%;
        }

      }
    }

    #contenttitle {
      font-weight: bold;
    }
  }
}
