<div class="g3w-viewport">
  <div id="g3w-view-map" class="g3w-view map" :style="{width:state.map.sizes.width+'px',height:state.map.sizes.height+'px'}">
  </div>
  <div id="g3w-view-content" class="g3w-view content" :style="{width:state.content.sizes.width+'px',height:state.content.sizes.height+'px'}">
    <div v-if="(showtitle && contentTitle) || previousTitle || (state.content.closable && state.content.aside)" class="close-panel-block">
      <div v-if="previousTitle" class="g3w_contents_back">
        <span  @click="gotoPreviousContent()"><span :class="g3wtemplate.getFontClass('arrow-left')"></span> Torna  {{ previousTitle }}</span>
      </div>
      <button v-if="state.content.closable && state.content.aside" :class="g3wtemplate.getFontClass('close')" class="pull-right close-panel-button" @click="closeContent"></button>
      <div v-if="showtitle && contentTitle">
        <span>{{ contentTitle }}</span>
      </div>
    </div>
  </div>
</div>
